:root {
    --bg-grey: rgb(230, 230, 230);
    --bg-blue: #002FA7;
    --primary-color: #f68b1e;
    --primary-color-dark: #E07E1B;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}
ul li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

body {
    background-color: var(--bg-blue);
}

html {
    scroll-behavior: smooth;
}
#primary-header {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 16pxpo
}
.logo {
    transform: scale(0.25);
}

.primary-btn {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.primary-btn:hover {
    background-color: var(--primary-color-dark);
}

.search-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    color: gray;
}

.form-group {
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-right: 8px;
    padding: 0 8px;
    border: 1px solid var(--bg-grey);
}

.search {
    /* width: 450px; */
    width: 28.125rem;
    outline: none;
    padding: 7px;
    border: none;
    border-radius: 3px;
}

.search-icon {
    margin: 0 8px;
}

.nav-links {
   display: flex;
   gap: 12px;
}

.nav-link {
    display: flex;
    gap: 8px;
}

.nav-link a {
    display: flex;
    gap: 4px;
    align-items: center;
}

.nav-link a:hover {
    color: var(--primary-color);
}

 .nav-link a span::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background-color: var(--primary-color);
    transition: 0.5s;
}

.nav-link a span:hover::after{
    width: 100%;
} 


/* HERO STYLES */
#hero {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    gap: 16px;
}

.categories{
    background-color: #fff;
}


.categories a {
    color: #313133;
    padding: 10px 80px 0 10px;
    display: flex;
    align-items: center;
}

.categories .icon {
    margin: 0 4px 0 0;
}

.ads {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categories,
#hero, 
#hero img {
    border-radius: 4px;
}
.list-container{background-color: white;
width: max-content;
margin: 10px;
padding: 8px;
border-radius: 4px;}
div{display: flex;
align-items: flex-start;
margin: 10px;
}
.lists-container{
    margin: 5px;
    margin-left:10px;
    padding: 3px;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
}
.img3{
    border-radius: 5px;
}
.img5,.img4{
    border-radius: 5px;
}
.first-container{
    display: flex;
    justify-content: center;   
}
.list-container{
    justify-content: start;    
}
.third-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    text-align: center;
}
img{max-width: 100%;}
.alpha{
    width: 160px;
}
.fourth-container{
    display: flex;
    text-align: center;
}

.top-selling-items {
    background: #fff;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
}
.text{
    font-size: 20px;
}
.flash-sales{
    justify-content: space-between;
    background: #ff0000;
    color: #fff;
    border-radius: 5px;
   
}
.flash_sales{
    background: white;
    margin: 10px; 
    border-radius: 5px;
     
}
































@media screen and (min-width:1024px) {
    body{
        background-color: blue;
    }
}
@media screen and (max-width:900px) {
    body{
        background-color: red;
    }
}

@media (max-width: 768px) {

  body {
    margin: 0;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  nav ul {
    flex-direction: column;
  }

}